[submodule "frontend"]
	path = frontend
	url = https://github.com/carlosewmartins/mythica-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/carlosewmartins/mythica-backend.git
